@import url(https://fonts.googleapis.com/css?family=PT+Sans:regular);

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"),
    url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

.card-featured-mugs__button-audio.pause,
.card-featured-mugs__button-audio.play,
html.light .header__theme,
[class*="_icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*="_icon-"]:before {
  display: block;
}

._icon-play:before,
.card-featured-mugs__button-audio.play:before {
  content: "\e905";
}

._icon-pause:before,
.card-featured-mugs__button-audio.pause:before {
  content: "\e906";
}

._icon-logo:before {
  content: "\e903";
}

._icon-cart:before {
  content: "\e904";
}

._icon-moon:before,
html.light .header__theme:before {
  content: "\e902";
}

._icon-arrow-dropdown:before {
  content: "\e900";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #1d1f2e;
  line-height: 1;
  font-family: "PT Sans";
  font-size: 0.75rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "PT Sans";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
  line-height: 1;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-weight: 400;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

[class*="__container"] {
  max-width: 60rem;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*="-ibg"] {
  position: relative;
}

[class*="-ibg"] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
}

[class*="-ibg_contain"] img {
  -o-object-fit: contain;
  object-fit: contain;
}

.header {
  text-transform: uppercase;
  letter-spacing: 0.125rem;
  padding: 1.5625rem 0;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.header__logo {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  font-size: 1.125rem;
  margin-top: 0.0625rem;
}

.header__cart {
  margin-right: 1.25rem;
}

.header__theme {
  font-size: 1.0625rem;
}

.header__actions {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 65px;
  flex: 0 0 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 1.25rem;
}

.menu-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@supports (gap: clamp(1.25rem, -1.4232446395rem + 5.5549383402vw, 1.875rem)) {
  .menu-header__list {
    gap: clamp(1.25rem, -1.4232446395rem + 5.5549383402vw, 1.875rem);
  }
}

@supports not (
  gap: clamp(1.25rem, -1.4232446395rem + 5.5549383402vw, 1.875rem)
) {
  .menu-header__list {
    gap: calc(1.25rem + 0.625 * (100vw - 48.12375rem) / 11.25125);
  }
}

.menu-header__link {
  display: inline-block;
  position: relative;
}

.menu-header__link::after {
  content: "";
  position: absolute;
  opacity: 0;
  visibility: hidden;
  width: 0;
  height: 2px;
  background-color: rgba(162, 95, 75, 0.3);
  bottom: -40%;
  left: 0;
  position: absolute;
  -webkit-transition: width 0.5s ease 0s;
  -o-transition: width 0.5s ease 0s;
  transition: width 0.5s ease 0s;
}

.cart-header {
  cursor: pointer;
  position: relative;
}

.cart-header__image {
  font-size: 1.125rem;
}

.cart-header__amount-text {
  letter-spacing: 0;
  background-color: #1d1f2e;
  width: 1.25rem;
  height: 1.125rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  top: 0;
  right: 0;
  color: #fff;
}

.languages-header__item {
  position: relative;
}

.languages-header__current-language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-transform: uppercase;
  -ms-grid-column-align: center;
  justify-self: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  gap: 0.3125rem;
}

.languages-header__current-language::before {
  -webkit-transition: -webkit-transform 1s ease 0s;
  transition: -webkit-transform 1s ease 0s;
  -o-transition: transform 1s ease 0s;
  transition: transform 1s ease 0s;
  transition: transform 1s ease 0s, -webkit-transform 1s ease 0s;
}

.languages-header__current-language._spoller-active::before {
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.languages-header__list {
  position: absolute;
  left: -1.5625rem;
  z-index: 2;
  background-color: #fff;
  margin: 0.3125rem 0 0 0;
  padding: 0.625rem;
  border-radius: 0.625rem;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  font-size: 0.875rem;
}

.languages-header__list-item:not(:last-child) {
  margin-bottom: 0.625rem;
}

.languages-header__language {
  position: relative;
  z-index: 100;
}

.languages-header__language.current-language {
  color: blue;
}

.header__menu {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.header__cart {
  gap: 0.625rem;
}

.cart-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.cart-header::after {
  content: "";
  opacity: 0;
  position: absolute;
  visibility: hidden;
  width: 0;
  height: 2px;
  background-color: rgba(162, 95, 75, 0.3);
  bottom: -30%;
  left: 0;
  position: absolute;
  -webkit-transition: width 0.5s ease 0s;
  -o-transition: width 0.5s ease 0s;
  transition: width 0.5s ease 0s;
}
