@import url(https://fonts.googleapis.com/css?family=PT+Sans:regular);

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"),
    url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

.card-featured-mugs__button-audio.pause,
.card-featured-mugs__button-audio.play,
html.light .header__theme,
[class*="_icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*="_icon-"]:before {
  display: block;
}

._icon-play:before,
.card-featured-mugs__button-audio.play:before {
  content: "\e905";
}

._icon-pause:before,
.card-featured-mugs__button-audio.pause:before {
  content: "\e906";
}

._icon-logo:before {
  content: "\e903";
}

._icon-cart:before {
  content: "\e904";
}

._icon-moon:before,
html.light .header__theme:before {
  content: "\e902";
}

._icon-arrow-dropdown:before {
  content: "\e900";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #1d1f2e;
  line-height: 1;
  font-family: "PT Sans";
  font-size: 0.75rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "PT Sans";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
  line-height: 1;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-weight: 400;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

[class*="__container"] {
  max-width: 60rem;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*="-ibg"] {
  position: relative;
}

[class*="-ibg"] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
}

[class*="-ibg_contain"] img {
  -o-object-fit: contain;
  object-fit: contain;
}

.header {
  text-transform: uppercase;
  letter-spacing: 0.125rem;
  padding: 1.5625rem 0;
}

@supports (
  padding-top: clamp(2.5rem, 0.7089552239rem + 8.9552238806vw, 6.25rem)
) {
  .footer {
    padding-top: clamp(2.5rem, 0.7089552239rem + 8.9552238806vw, 6.25rem);
  }
}

@supports not (
  padding-top: clamp(2.5rem, 0.7089552239rem + 8.9552238806vw, 6.25rem)
) {
  .footer {
    padding-top: calc(2.5rem + 3.75 * (100vw - 20rem) / 41.875);
  }
}

@supports (
  padding-bottom: clamp(2.5rem, 0.7089552239rem + 8.9552238806vw, 6.25rem)
) {
  .footer {
    padding-bottom: clamp(2.5rem, 0.7089552239rem + 8.9552238806vw, 6.25rem);
  }
}

@supports not (
  padding-bottom: clamp(2.5rem, 0.7089552239rem + 8.9552238806vw, 6.25rem)
) {
  .footer {
    padding-bottom: calc(2.5rem + 3.75 * (100vw - 20rem) / 41.875);
  }
}
