@import url(https://fonts.googleapis.com/css?family=PT+Sans:regular);

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"),
    url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*="_icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*="_icon-"]:before {
  display: block;
}

._icon-close:before {
  content: "\e900";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

html {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #1d1f2e;
  line-height: 1;
  font-family: "PT Sans";
  font-size: 0.75rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "PT Sans";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
  line-height: 1;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-weight: 400;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
  touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

[class*="__container"] {
  max-width: 68.75rem;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*="-ibg"] {
  position: relative;
}

[class*="-ibg"] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
}

[class*="-ibg_contain"] img {
  -o-object-fit: contain;
  object-fit: contain;
}

.hidden {
  visibility: visible;
  opacity: 0;
}

.header {
  background-color: #1d1f2e;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 2.0833333333em 0;
}

.header__title {
  color: #fff;
  font-size: 1.25rem;
}

.images {
  padding-top: 2.5em;
  padding-bottom: 2.5em;
}

.form-images-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
}

.form-images-search__input {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.form-images-search__button {
  background-color: #132b50;
  color: #fff;
  padding: 0 3.3333333333em;
}

.input {
  display: inline;
  position: relative;
  font-size: 0.9375rem;
}

.input__field {
  width: 100%;
  padding: 0.6666666667em 2.6666666667em 0.6666666667em 1.3333333333em;
  border: 1px solid #132b50;
}

.input__clear {
  position: absolute;
  right: 0.3125rem;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  height: 100%;
  width: 1.875rem;
}

.images-data__card {
  border: 1px solid #000;
}

.images-data-items {
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18.125rem, 1fr));
  gap: 1.875rem;
}

.images-data-items__message {
  text-align: center;
  padding-top: 1em;
  font-size: 1.25rem;
}

.card-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.card-image__image-ibg {
  position: relative;
  padding-bottom: 75%;
}

.card-image__title {
  margin: 1.6666666667em 1.25em;
  text-align: center;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.card-image__title span {
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.page-btn {
  background: #ddd;
  color: #2c303a;
  height: 35px;
  border-radius: 2px;
  padding: 0 10px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  -webkit-transition: background 0.3s ease;
  -o-transition: background 0.3s ease;
  transition: background 0.3s ease;
  margin: 0 2px;
}

.page-btn:first-of-type {
  margin-left: 0;
}

.page-btn:last-of-type {
  margin-right: 0;
}

.page-btn:not([class$="-page"]) {
  width: 35px;
}

.pagination-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.page-btn[class*="-page"] {
  background: #ccc;
  font-size: 0.6em;
  font-weight: 700;
}

.page-btn.active {
  background: #717790;
  color: #fff;
}

.page-btn[disabled] {
  opacity: 0.3;
}

.spinner-container {
  width: 100%;
  height: 100%;
  z-index: 99999;
  text-align: center;
  margin-top: 4.375rem;
}

.spinner {
  margin: auto;
  border: 2px solid rgba(29, 31, 46, 0.4352941176);
  width: 32px;
  height: 32px;
  display: inline-block;
  position: absolute;
  margin: 0;
  border-radius: 50%;
  border-right: 2px solid #1d1f2e;
  text-align: center;
  -webkit-animation-name: spin;
  animation-name: spin;
  -webkit-animation-duration: 900ms;
  animation-duration: 900ms;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  /*animation-timing-function: linear; /*linear spin */
  -webkit-animation-timing-function: cubic-bezier(0.53, 0.21, 0.29, 0.67);
  animation-timing-function: cubic-bezier(0.53, 0.21, 0.29, 0.67);
}

.spinner_image {
  top: 45%;
  left: 45%;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  /*50% {width:24px;height:24px} /*shrinking effect*/
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  /*50% {width:24px;height:24px} /*shrinking effect*/
  100% {
    -webkit-transform: rotate(360deg);
  }
}

.button {
  display: inline-block;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.43);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.43);
  -webkit-transition: -webkit-box-shadow 0.3s ease 0s;
  transition: -webkit-box-shadow 0.3s ease 0s;
  -o-transition: box-shadow 0.3s ease 0s;
  transition: box-shadow 0.3s ease 0s;
  transition: box-shadow 0.3s ease 0s, -webkit-box-shadow 0.3s ease 0s;
}
